$card-bg-color: #f8fafc;
$button-color: #ad8621;
$button-bg-primary: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
$button-bg-secondary: linear-gradient(261.65deg, #f5c03b -3.95%, $button-color 109.44%);

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 573px;
  padding: 46px;

  background-color: $card-bg-color;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__new-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 26px;

    background: $button-bg-primary;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    color: white;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__icon {
    width: 46px;
    height: 46px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: url("../../icons/icon.svg") white no-repeat center;

    cursor: pointer;

    &--clicked {
      background: url("../../icons/checkmark.svg") white no-repeat center;
    }
  }

  &__title {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 500;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__img-block {
    position: relative;
    width: 256px;
    height: 261px;
    margin-bottom: 25px;

    border-radius: 25px;
    object-fit: cover;
    overflow: hidden;
    background-color: white;

    transition: opacity 0.5s;

    &:hover .product-card__img--secondary {
      opacity: 1;
    }
  }

  &__img {
    width: 256px;
    height: 261px;
    border-radius: 25px;

    &--secondary {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &__select-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__price {
    font-weight: 600;
    font-size: 18px;
  }

  &__radio-block {
    width: 100%;
    margin-bottom: 27px;
    margin-top: 18px;
  }

  &__radio {
    display: none;

    &:checked + label div div {
      display: block;
    }
  }

  &__radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    font-weight: 500;

    & > div {
      display: inline-block;
      position: relative;
      width: 25px;
      height: 25px;
      margin-right: 12px;

      background-color: #dedede;
      border-radius: 5px;

      & > div {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 17px;

        background: $button-bg-primary;
        border-radius: 5px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__quantity-change {
    display: flex;
    width: 92px;
    height: 39px;
    margin-right: 31px;
  }

  &__quantity-change-item {
    width: 33%;

    background-color: #e2e9f0;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;

    &--left {
      padding-left: 15px;
      border-radius: 30px 0 0 30px;
    }

    &--right {
      padding-right: 15px;
      border-radius: 0 30px 30px 0;
    }
  }

  &__button {
    width: 302px;
    height: 39px;

    background: $button-bg-secondary;
    border-radius: 30px;
  
    font-size: 18px;
    text-transform: uppercase;
    color: white;

    opacity: 0.9;
    transition: opacity 0.3s, box-shadow 0.3s;

    &:hover {
      opacity: 1;
      box-shadow: 0px 0px 10px $button-color;
    }

    &--pressed {
      opacity: 0.7;
    }
  }
}