.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 573px;
  padding: 46px;

  background-color:#f8fafc;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__new-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 26px;

    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    color: white;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__icon {
    width: 46px;
    height: 46px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: url("../../api/images/icon.svg") white no-repeat center;
  }

  &__title {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 500;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__img-block {
    width: 256px;
    height: 261px;
    border-radius: 25px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__img {
    width: 256px;
    height: 261px;
    border-radius: 25px;

    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.8) rotate(-20deg);
    }
  }

  &__select-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__select-wrapper {
    background-color: #fff;
    position: relative;
    width: 258px;
    height: 30px;
    border-radius: 30px;
    margin-bottom: 18px;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 20px;
      width: 10px;
      height: 10px;
      background: url("../../api/images/select-arrow.svg") no-repeat center;
    }
  }

  &__select {
    width: 258px;
    height: 30px;
    padding: 0 20px;

    background: transparent;

    font-family: "SF UI Display", sans-serif;
    font-size: 12px;
    font-weight: 300;
    border-radius: 30px;
    border: none;
    appearance: none;
  }

  &__price {
    font-weight: 600;
    font-size: 18px;
  }

  &__radio-block {
    width: 100%;
    margin-bottom: 27px;
  }

  &__radio {
    display: none;

    &:checked + label span div {
      display: block;
    }
  }

  &__radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    font-weight: 500;

    & > span {
      display: inline-block;
      position: relative;
      width: 25px;
      height: 25px;
      margin-right: 12px;

      background-color: #dedede;
      border-radius: 5px;

      & > div {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 17px;
        background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
        border-radius: 5px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__quantity-change {
    display: flex;
    width: 92px;
    height: 39px;
    margin-right: 31px;
  }

  &__quantity-change-item {
    background-color: #e2e9f0;
    font-size: 20px;

    line-height: 1.8;
    text-align: center;
    width: 30%;

    &--left {
      border-radius: 30px 0 0 30px;
      padding-left: 15px;
    }

    &--right {
      border-radius: 0 30px 30px 0;
      padding-right: 15px;
    }
  }

  &__button {
    width: 302px;
    height: 39px;

    //background-image: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    background-image: linear-gradient(261.65deg, #f5c03b -3.95%, #ad8621 109.44%);
    border-radius: 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    opacity: 0.9;

    transition: opacity 0.3s, box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      //background-image: linear-gradient(261.65deg, #EFBB37 -3.95%, #b98e1f 109.44%);
      opacity: 1;
      box-shadow: 0px 0px 10px #ad8621;
    }
  }
}