@import '../../variables.scss';

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 573px;
  padding: 46px;

  background-color: $card-bg-color;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__new-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 26px;

    background: $button-bg-primary;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    color: white;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__icon {
    width: 46px;
    height: 46px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: url("../../icons/icon.svg") white no-repeat center;
    cursor: pointer;

    &--clicked {
      background: url("../../icons/checkmark.svg") white no-repeat center;
    }
  }

  &__title {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 500;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__select-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__price {
    font-weight: 600;
    font-size: 18px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    width: 302px;
    height: 39px;

    background: $button-bg-secondary;
    border-radius: 30px;
  
    font-size: 18px;
    text-transform: uppercase;
    color: white;

    opacity: 0.9;
    transition: opacity 0.3s, box-shadow 0.3s;

    &:hover {
      opacity: 1;
      box-shadow: 0px 0px 10px $button-color;
    }

    &--pressed {
      opacity: 0.7;
    }
  }
}