*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "SF UI Display", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

body,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: "SF UI Display", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}
