$card-bg-color: #f8fafc;
$button-color: #ad8621;
$button-bg-primary: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
$button-bg-secondary: linear-gradient(261.65deg, #f5c03b -3.95%, $button-color 109.44%);